@using EShop.ViewModels.Blog;
@model BlogPostViewModel

@{
	ViewData["Title"] = "Edit";
	ViewData["Current"] = "Blog";
}

@section styles {
	<meta name="robots" content="noindex">

	<link href="/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet">
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Дякуємо</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
					<li class="active">@(Model.Title)</li>
				</ol>
			</div>
		</div>

		<form asp-anti-forgery="true" asp-controller="Blog" asp-action="Publish">
			
			<input asp-for="Id" hidden />

			<input asp-for="Title" class="form-control" placeholder="Title" />
			
			<hr/>
			
			<textarea asp-for="Content" style="padding: 5px;" data-provide="markdown" rows="10"></textarea>
			
			<hr/>
			
			<div class="row">
				<div class="col-md-2">
					<label asp-for="Active"></label>
					<input asp-for="Active" />
				</div>
				<div class="col-md-offset-8 col-md-2">
					<button type="submit" style="width: 100%;" class="btn btn-success">Submit</a>
				</div>
			</div>

  		</form> 

	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script src="/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>
	<script src="/lib/markdown/lib/markdown.js"></script>
}