@{
	ViewData["Title"] = "Edit";
}

@section styles {
	<link href="/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet">
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Дякуємо</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li><a asp-controller="Store" asp-action="Blog">Blog</a></li>
					<li class="active">@(Model.Title)</li>
				</ol>
			</div>
		</div>

		<form>
			
			<input name="title" type="text" placeholder="Title?" />
			
			<textarea name="content" data-provide="markdown" rows="10">
				
				@(Model.Content)
				
			</textarea>
			
			<label class="checkbox">
				<input name="publish" type="checkbox"> Publish
			</label>
			
			<hr/>
			
			<button type="submit" class="btn">Submit</button>
  		</form> 

	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script src="/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>
	<script src="/lib/markdown/lib/markdown.js"></script>
	
	<script>
		var globalActive = "Blog";
	</script>
	
}