@using Newtonsoft.Json;

@* Model is a IEnumerable<Entity.Product> object *@

@{
	ViewData["Title"] = "Продукція";
	ViewData["Current"] = "Product";
}

@section styles {
	<meta name="robots" content="noindex">
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> продукція</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:product -->
<div id="catalogue">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li class="active">Продукція</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Наша продукція</h2>
				<ul class="thumbnails" style="padding-left: 0;">
					
					@foreach (var product in Model)
					{
						<thumbnail img="@(JsonConvert.DeserializeObject(product.ImageUrls)[0])" title="@(product.Name)" price="@(product.Cost)" product-id="@(product.Id)" />						
					}
					
				</ul>

				<ul class="pagination" style="visibility: hidden;">
					<li class="disabled"><a href="#">Page 1 of 2</a></li>
					<li class="disabled"><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>
<!-- end:product -->