@{
	ViewData["Title"] = "Про нас";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> ПРО НАС</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li class="active">Про нас</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
				<h3>НАША КОМАНДА</h3>
			</div>
		</div>

		<div class="row padd20-top-btm" id="theteam">
			<div class="col-md-3 col-sm-3">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team/polina.png" class="img-responsive img-rounded" alt="Polina Guley">
					</div>				
					<h3>Поліна Гулей</h3>
					<h4>Засновниця Sheva Stream</h4>
					<p>
						КНУ ім. Т. Шевченка
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team/anton.jpg" class="img-responsive img-rounded" alt="Anton Melnikov">
					</div>
					<h3>Антон Мельников</h3>
					<h4>Засновник Sheva Stream</h4>
					<p>
						КНУ ім. Т. Шевченка
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team/dmytro.png" class="img-responsive img-rounded" alt="Dmytro Bogatov">
					</div>					
					<h3>Дмитро Богатов</h3>
					<h4>Засновник Sheva Stream, програміст</h4>
					<p>
						Worcester Polytechnic Institute <br>
						Computer Science, Class of 2017
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team/margo.png" class="img-responsive img-rounded" alt="Margo Gorval">
					</div>
					<h3>Марго Горваль</h3>
					<h4>Дизайнер, архітектор</h4>
					<p>
						Національний університет будівництва і архітектури
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script>
		var globalActive = "Profile";
	</script>
	
}