@model IEnumerable<Shevastream.Models.Entities.BlogPost>

<h3>Найбільш популярні пости</h3>
@foreach (var post in Model)
{
	<h5><a asp-route="Blog" asp-route-id="@(post.Id)" asp-route-title="@(post.TitleUrl)">@post.Title [@(post.Views) views]</a></h5>
}