@{
	ViewData["Title"] = "Блокнот";
}

@section styles {
	<link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">	
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> БЛОКНОТ</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Home" asp-action="Index">Головна</a></li>
					<li class="active">БЛОКНОТ</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<!-- begin:product-content -->
			<div class="col-md-9 col-sm-9 single-item">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<div class="row" style="text-align: right;">
							<div class="col-md-12 col-sm-12">
								<span style="color: #777">Натисніть на зображення для збільшення</span>
							</div>
						</div>
						<div id="itemsingle" class="carousel slide clearfix">
							
							<div class="carousel-inner gallery">
								<div class="item active">
									<img src="/images/products/notepad/item01.jpg" alt="slider detail dodolan manuk" class="img-rounded">
								</div>
								<div class="item">
									<img src="/images/products/notepad/item02.jpg" alt="slider detail dodolan manuk" class="img-rounded">
								</div>
								<div class="item">
									<img src="/images/products/notepad/item03.jpg" alt="slider detail dodolan manuk" class="img-rounded">
								</div>
								<div class="item">
									<img src="/images/products/notepad/item04.jpg" alt="slider detail dodolan manuk" class="img-rounded">
								</div>
								<div class="item">
									<img src="/images/products/notepad/item05.jpg" alt="slider detail dodolan manuk" class="img-rounded">
								</div>
							</div>

							<ol class="carousel-indicators">
								<li data-target="#itemsingle" data-slide-to="0" class="active"><img src="/images/products/notepad/item01.jpg" class="img-responsive img-rounded" alt="slider detail dodolan manuk"></li>
								<li data-target="#itemsingle" data-slide-to="1" class=""><img src="/images/products/notepad/item02.jpg" class="img-responsive img-rounded" alt="slider detail dodolan manuk"></li>
								<li data-target="#itemsingle" data-slide-to="2" class=""><img src="/images/products/notepad/item03.jpg" class="img-responsive img-rounded" alt="slider detail dodolan manuk"></li>
							</ol>
							<ol class="carousel-indicators">
								<li data-target="#itemsingle" data-slide-to="3" class=""><img src="/images/products/notepad/item04.jpg" class="img-responsive img-rounded" alt="slider detail dodolan manuk"></li>
								<li data-target="#itemsingle" data-slide-to="4" class=""><img src="/images/products/notepad/item05.jpg" class="img-responsive img-rounded" alt="slider detail dodolan manuk"></li>
							</ol>
						</div>
					</div>
					<div class="col-md-7 col-sm-7">
						<h3>БЛОКНОТ</h3>
						<p>Незважаючи на те, що сучасний світ оповитий електронними девайсами з безліччю корисних функцій, ми все одно не припиняємо користуватися блокнотами. Сьогодні блокнот – це не тільки «паперовий друг», котрий завжди під рукою і допоможе навести вам порядок в «інформаційній каші», а й невід’ємний атрибут іміджу кожного з нас.</p>
						<h4>185 UAH</h4>
						<p><a asp-controller="Home" asp-action="Order" class="btn btn-purple btn-large"><i class="icon-shopping-cart"></i> Замовити</a></p>
					</div>
				</div>

				<!-- begin:tab -->
				<div class="row">
					<div class="col-md-12 product-tabs">
						<ul id="myTab" class="nav nav-tabs">
							<li class="active"><a href="#info" data-toggle="tab">Характеристики</a></li>
							<!-- <li class=""><a href="#review" data-toggle="tab">Review</a></li> -->
							<li class=""><a href="#moreinfo" data-toggle="tab">Інформація</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="info">
								<ul>
									<li>Обкладинка зроблена з італійської екошкіри</li>
									<li>Довжина 210 мм, ширина 145 мм</li>
									<li>Стильний паттерн</li>
									<li>Міцна кишеня для важливих дрібниць</li>
									<li>Закладка-ляссе та зручна гумка</li>
									<li>Просторі, чисті, якісні сторінки</li>
									<li>Папір Munken Pure, 176 сторінок, 90 г/м<sup>2</sup></li>	
								</ul>
							</div>
							<div class="tab-pane fade" id="review">
								<p>
									Howdy, I'm in Section 2. Etiam luctus, tellus sed varius facilisis, turpis nisl mollis metus, adipiscing scelerisque felis dui ac lacus.
									Etiam luctus, tellus sed varius facilisis, turpis nisl mollis metus, adipiscing scelerisque felis dui ac lacus.
								</p>
							</div>
							<div class="tab-pane fade" id="moreinfo">
								<p>
									Збережіть своє натхнення і мрії разом з нашими блокнотами "ShevaStream". Мовчазні, практичні, просторі та оригінальні. Посприяють вашій організованості і гарному настрою. Що ще, як не чисті аркуші паперу, потрібно для того, щоб почати діяти - писати історію з нової сторінки. Може на цей раз ви почнете будувати свої глобальні плани та завдання з чимось незвичайним?
								</p>
							</div>
							
						</div>

					</div>
				</div>
				<!-- end:tab -->
				
				<div style="height: 30px;"></div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Промо-відео</h3>
							</div>
							<div class="panel-body" style="padding: 0px;">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/jWfdgm3g2GE?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
					
			</div>
			
			
			
			<!-- end:product-content -->
			<!-- begin:product-sidebar -->
			<div class="col-md-3 col-sm-3">
				<div class="row sidebar">
					<div class="col-md-12">
						<h3>Інформація</h3>
						<ul class="nav nav-pills nav-stacked">
							<li><a asp-controller="Home" asp-action="FAQ">Оплата</a></li>
							<li><a asp-controller="Home" asp-action="FAQ">Доставка</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end:product-sidebar -->

		</div>
	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script src="/lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="/js/detail.js"></script>
	
	<script>
		var globalActive = "Detail";
	</script>
	
}