@{
    ViewData["Title"] = "Оплата і доставка";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> ОПЛАТА І ДОСТАВКА</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Home" asp-action="Index">Головна</a></li>
					<li class="active">Оплата і доставка</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h3>Доставка:</h3>
				<ul>
					<li>По Києву - 30 грн</li>
					<li>До будь-якого корпусу КНУ ім. Т. Шевченко – безкоштовно</li>
					<li>По Україні - Новою поштою</li>	
				</ul>
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>Оплата:</h3>
				<ul>
					<li>Готівкою при отриманні товару</li>
					<li>Безготівковий розрахунок (на карту Приват банка)</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Frequently Asked Questions</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Some question?</h4>
				<p>Some looong answer. Some looong answer. Some looong answer. Some looong answer. </p>
			</div>
		</div>

	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script>
		var globalActive = "FAQ";
	</script>
	
}