@{
    ViewData["Title"] = "Замовлення";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> ЗАМОВЛЕННЯ</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Home" asp-action="Index">Головна</a></li>
					<li class="active">Замовлення</li>
				</ol>
			</div>
		</div>

		<div class="row confirm">
			<div class="col-md-12">
				<form class="form-horizontal" role="form" id="oderForm">
					<h3 class="text-center">Замовлення</h3>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="item" >Назва продукту *</label>
						<div class="col-sm-6">
							<select class="form-control" id="item" required disabled>
								<option value="1">Блокнот</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="quantity">Кількість *</label>
						<div class="col-sm-6">
							<select class="form-control" id="quantity" required>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="name">Ім'я *</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" placeholder="Ім'я" required>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="email">Email</label>
						<div class="col-sm-6">
							<input type="email" class="form-control" placeholder="Email" id="email">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="phone">Номер телефону *</label>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="input-group-addon" id="phoneNumAddon">+38</span>
								<input type="tel" class="form-control" id="phone" aria-describedby="phoneNumAddon" placeholder="050 866 22 22" required>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="shipmentMethod">Спосіб доставки *</label>
						<div class="col-sm-6">
							<select class="form-control" id="shipmentMethod" required>
								<option value="1">Корпус КНУ ім. Т. Шевченко - безкоштовно</option>
								<option value="2">По Києву - 30 грн</option>
								<option value="3">По Україні - Новою поштою</option>
							</select>
						</div>
					</div>
					
					<div class="form-group" id="addressGroup" hidden>
						<label class="col-sm-3 control-label" for="address">Адреса доставки *</label>
						<div class="col-sm-6">
							<textarea class="form-control" id="address" rows="3" placeholder="Адреса доставки" required></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="paymentMethod">Спосіб оплати *</label>
						<div class="col-sm-6">
							<select class="form-control" id="paymentMethod" required>
								<option value="1">Готівкою при отриманні товару</option>
								<option value="2">Безготівковий розрахунок (на карту Приват банка)</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="comment">Коментар</label>
						<div class="col-sm-6">
							<textarea class="form-control" id="comment" rows="8" placeholder="Не обов'язкове повідомлення"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-10">
							<button type="submit" class="btn btn-purple">Замовити</button>
						</div>
					</div>
					
					<div class="col-sm-offset-3 col-sm-6">
						<div class="alert alert-danger" role="alert" id="orderValidationAlert" hidden>
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
							Всі поля з позначкою * - обов'язкові.
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end:content -->

<!-- modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="orderModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ваше замовлення</h4>
			</div>
			<div class="modal-body">
				<div class="row itemPreview">
					<div class="col-md-4">
						<img class="img-thumbnail" src="/images/products/notepad/popular.jpg"/>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<label>Найменування</label>
								<br>
								<p id="prevItem"></p>
							</div>
							<div class="col-md-6">
								<label>Кількість</label>
								<br>
								<p id="prevQuantity"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Ціна за одиницю</label>
								<br>
								<p id="prevPrice"></p>
							</div>
							<div class="col-md-6">
								<label>Спосіб доставки</label>
								<br>
								<p id="prevShippmentMethod"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h4>Всього</h4>
								<p>
									<strong id="prevTotal" style="font-size: 18pt;"></strong>
								</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="modal-footer">
				<p>Ми зв'яжемося з Вами за вказаним телефоном: <span id="prevPhone"></span></p>
				<button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
				<button type="button" class="btn btn-primary" id="confirmOrderBtn">Замовити</button>
			</div>
		</div>
	</div>
</div>


@section scripts {
	
	<script>
		var globalActive = "Order";
	</script>
	
	<script src="/js/order.js"></script>
}