@{
	ViewData["Title"] = "Використання файлів cookie";
}

@section styles {
	<meta name="robots" content="noindex">
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> ОПЛАТА І ДОСТАВКА</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Home" asp-action="Index">Головна</a></li>
					<li class="active">Оплата і доставка</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h3>Доставка:</h3>
				<ul>
					<li>По Києву - 30 грн</li>
					<li>До будь-якого корпусу КНУ ім. Т. Шевченко – безкоштовно</li>
					<li>По Україні - Новою поштою</li>	
				</ul>
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>Оплата:</h3>
				<ul>
					<li>Готівкою при отриманні товару</li>
					<li>Безготівковий розрахунок (на карту Приват банка)</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Часті питання</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h4>Я вже десь бачив схожу продукцію.</h4>
				<p>
					На даний час ми перша та єдина організація студентів з КНУ, яка пропонує стильну та модну продукцію КНУшникам. <br>
					Наші офіційні контакти:
					<ul>
						<li>Веб-сторінка - <a rel="nofollow" href="http://shevastream.com">shevastream.com</a></li>
						<li>VK - <a rel="nofollow" href="https://vk.com/shevastream">vk.com/shevastream</a></li>
						<li>Facebook - <a rel="nofollow" href="https://facebook.com/shevastream">facebook.com/shevastream</a></li>
						<li>Instagram - <a rel="nofollow" href="https://instagram.com/shevastream">instagram.com/shevastream</a></li>	
					</ul>
				 </p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Я хочу порекомендувати продукцію Sheva Stream моїм друзям. Я отримаю реферальні бонуси?</h4>
				<p>Так, для отримання бонусів, знижок звертайтеся по телефону, вказаному на сайті, або ж пишіть нам у соціальних мережах.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h4>Я хочу придбати вашу продукцію. Як я можу це зробити?</h4>
				<p>Перейдіть на сторінку Блокнот, натисніть на кнопку Замовити і зазначте найбільш комфортні умови доставки та оплати!</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Що робити в разі виявлення дефекту товару?</h4>
				<p>При отриманні товару ми рекомендуємо Вам перевірити товар на випадок його дефекту. Кожна одиниця продукції проходить ретельний контроль якості. Якщо Ви при отриманні товару знайшли певні дефекти, будь-ласка, зателефонуйте нам за телефоном, вказаному на сайті в розділі "Контакти".</p>
			</div>
		</div>

	</div>
</div>
<!-- end:content -->