@using Newtonsoft.Json;

@* Model is a IEnumerable<Entity.Product> object *@

@{
	ViewData["Title"] = "Продукція";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> продукція</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:product -->
<div id="catalogue">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Home" asp-action="Index">Головна</a></li>
					<li class="active">Продукція</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Наша продукція</h2>
				<p>Lorem ipsum</p>
				<ul class="thumbnails">
					
					@foreach (var product in Model)
					{
						<li class="col-md-6 col-sm-6">
							<div class="thumbnail">
								<a asp-controller="Home" asp-action="Product" asp-route-id="@product.Id">
									<img src="@JsonConvert.DeserializeObject(product.ImageUrls)[0]" class="img-responsive" alt="product dodolan manuk" />
								</a>	
								<div class="caption-details">
									<h3>@product.Name</h3>
									<span class="price">@product.Cost UAH</span>
								</div>
							</div>
						</li>	
					}
					
				</ul>

				<ul class="pagination" style="visibility: hidden;">
					<li class="disabled"><a href="#">Page 1 of 2</a></li>
					<li class="disabled"><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>
<!-- end:product -->

@section scripts {
	
	<script>
		var globalActive = "Product";
	</script>
	
}